html { height: 100%; }

body { height: 100%; }

nav {
	background-color: #FFFFFF;
	font-family: 'Muli', 'Arial';
	font-size: 12px;
	margin-bottom: 0;
	display: none;
	text-transform: uppercase;
}

nav.navbar {
	margin-bottom: 0;
	border: none;
	min-height: 0;
}
nav.navbar .navbar-header .navbar-brand { padding: 13px 15px; }
nav.navbar .navbar-header .navbar-brand img { height: 24px; }
nav.navbar .navbar-nav li a.active:after {
	content: '';
	width: 0px;
	height: 0px;
	border: 13px solid transparent;
	border-bottom: 13px solid white;
	position: absolute;
	bottom: 0px;
	left: 30px;
}
nav.navbar .navbar-nav li a#nav-home.active:after {
	left: 13px;
	border-bottom-color: #F0EADF;
}
nav.navbar .navbar-nav li a#nav-product.active:after { border-bottom-color: #F0DAD3; }
nav.navbar .navbar-nav li a#nav-prices.active:after {
	left: 22px;
	border-bottom-color: #C3E3EC;
}
nav.navbar .navbar-nav li a#nav-contact.active:after { border-bottom-color: #B0CCC4; }

p {
	font-family: 'Lora', 'Times New Roman';
	font-size: 11px;
	color: #000000;
}

.full-screen { min-height: 100%; }

.section-container {
	max-width: 960px;
	margin: auto;
	padding: 95px 0;
	text-align: center;
}

.section-container .well {
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	text-align: center;
}

.section-header {
	font-family: 'Muli', 'Arial';
	font-size: 22px;
	margin-bottom: 70px;
}

.content-header {
	font-family: 'Lora', 'Times New Roman';
	font-size: 20px;
}

.content-footer {
	font-family: 'Lora', 'Times New Roman';
	font-size: 12px;
	font-style: italic;
	color: #666666;
}

.content-footer a {
	color: #666666;
	text-decoration: none;
}
.content-footer a:hover {
	color: #DEB879;
	text-decoration: none;
}

#top {
	background-color: #B0CCC4;
	background-image: url('/images/top.jpg');
	background-size: cover;
}
#top .section-container {
	padding-top: 250px;
	padding-bottom: 54px;
}
#top .section-container .logo { width: 50%; }
#top .section-container .down-arrow {
	margin-top: 150px;
	display: block;
}

@media (min-width: 1150px) {
	#top img.background {
		width: 100%;
		height: initial;
	}
}

#home { background-color: #F0EADF; }
#home .section-container .row { margin-top: 75px; }
#home .portrait-container {
	width: 260px;
	height: 360px;
	margin: 10px auto;
	padding: 10px 0;
}
#home .portrait-container img { width: 240px; }
#home .introduction-container {
	margin: 10px 15px;
	height: 360px;
	padding: 15px 25px;
}
#home .introduction-container .introduction {
	font-family: 'Lora', 'Times New Roman';
	font-size: 25px;
	color: #000000;
	margin-bottom: 10px;
}
#home .introduction-container .subtext {
	font-family: 'Muli', 'Arial';
	font-size: 14px;
	color: #DEB879;
}
#home .introduction-container .content-footer { margin-top: 10px; }
#home .divider { margin: 12px auto; }

@media (max-width: 991px) {
	#home .introduction-container {
		margin: auto;
		width: 260px;
		height: 495px;
	}
}


#product, .product { background-color: #F0DAD3; }
#product .divider { margin: 15px; }
#product .content-footer {
	font-family: 'Lora', 'Times New Roman';
	font-style: italic;
}
#product .gallery-close {
	display: none;
	//position: absolute;
	//right: 135px;
}
#product .gallery-container { display: none; }
#product .gallery-container .gallery img {
	width: initial;
	margin: auto;
}
#product .product-info {
	width: 260px;
	margin: auto;
	padding: 10px 0;
	margin-top: 10px;
}
#product .product-info .product-description { padding: 10px; }
#product .product-info .product-description .description-wrapper .content-body { padding: 0 35px; }
#product .product-info .product-image.hover { display: none; }
#product .product-info .product-description.hover { display: block; }

#product .gallery-2 { display: none; }
#product .blueimp-gallery-carousel {
	background: transparent;
	box-shadow: none;
}
#product .blueimp-gallery-carousel .close {
	color: black;
	text-shadow: none;
}

@media (min-width: 992px) {
	#product .product-info .product-description {
		display: none;
		height: 365px;
	}

	#product .product-info .product-description .description-wrapper {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

@media (max-width: 991px) {
	#product .product-info .product-description {
		display: block !important;
	}
}

#prices { background-color: #C3E3EC; }
#prices .product-packages {
	width: 260px;
	height: 486px;
	margin: auto;
	margin-top: 10px;
	padding: 0;
}
#prices .product-packages .content-header {
	width: 100%;
	background-color: #5F92AA;
	color: #FFFFFF;
	padding: 5px;
}
#prices .product-packages .packages-container { padding-bottom: 30px; }
#prices .product-packages .packages-container .package { margin-top: 25px; }
#prices .product-packages .packages-container .package .package-name {
	font-family: 'Muli', 'Arial';
	font-size: 14px;
	color: #5F92AA;
}
#prices .product-packages .packages-container .package .price { font-weight: bold; }
#prices .divider { margin: 15px auto; }

#contact { background-color: #B0CCC4; }
#contact .contact-container {
	margin: auto;
	margin-top: 10px;
	text-align: left;
	height: 340px;
}
#contact p, #contact form input, #contact form textarea { font-size: 11px; }
#contact .contact-container.contact-info-container { width: 300px; }
#contact .contact-container .content-header {
	font-family: 'Muli', 'Arial';
	font-size: 14px;
	color: #5A9592;
}
#contact .contact-container.contact-form-container .submit-container { height: 30px; }
#contact .contact-container.contact-form-container .submit-container .btn {
	background-color: #5A9592;
	font-family: 'Muli', 'Arial';
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
}

@media (max-width: 991px) {
	#contact .contact-form-container {
		width: 300px;
	}
}

#footer .footer-container {
	height: 120px;
	padding: 30px;
	text-transform: uppercase;
}
#footer .footer-container p { font-family: 'Muli', 'Arial'; }
#footer .footer-container .copyright, #footer .footer-container .links {
	font-family: 'Muli', 'Arial';
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: bold;
}
#footer .footer-container .links a { color: black; }
