<section id="contact" class="full-screen">
	<div class="section-container">
		<div class="section-header">Ta gjerne kontakt.</div>

		<div class="row">
			<div class="col-md-6">
				<div class="contact-container contact-info-container well">
					<div class="content-header">Kontakt meg</div>
					<p>
						Mobil: 48198906
						<br>
						Epost: post@katrinefoto.no
					</p>

					<div class="content-header">Studioadresse</div>
					<p>
						Abelsborgsgate 10
						<br>
						7018 Trondheim
					</p>

					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d892.310113308032!2d10.36732179999999!3d63.42982330000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466d322806f559d5%3A0x9762a93bc4936354!2sAbelsborg+gate+10%2C+7018+Trondheim%2C+Norway!5e0!3m2!1sen!2sph!4v1425143519578" width="260" height="150" frameborder="0" style="border:0"></iframe>
				</div>
			</div>

			<div class="col-md-6">
				<div class="contact-container contact-form-container well">
					<div class="content-header">Send meg en epost</div>
					<form>
						<div class="form-group">
							<input type="text" class="form-control" id="contact-name" placeholder="Navn">
						</div>

						<div class="form-group">
							<input type="email" class="form-control" id="contact-email" placeholder="Epost">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" id="contact-subject" placeholder="Emne">
						</div>

						<div class="form-group">
							<textarea class="form-control" id="contact-message" placeholder="Melding" rows="5"></textarea>
						</div>

						<div class="submit-container">
							<button type="submit" class="btn btn-default pull-right">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
