<section id="contact" class="full-screen">
	<div class="section-container">
		<div class="section-header">Ta gjerne kontakt.</div>

		<div class="row">
			<div class="col-md-6 well well-white" style="text-align: left;">
				<div class="content-header">Kontakt meg</div>
				<p>
					Mobil: 48198906
					<br>
					Epost: post@katrinefoto.no
				</p>

				<div class="content-header">Studioadresse</div>
				<p>
					Abelsborgsgate 10
					<br>
					7018 Trondheim
				</p>
			</div>

			<div class="col-md-6 well well-white" style="text-align: left;">
				<div class="content-header">Send meg en epost</div>
				<form>
					<div class="form-group">
						<input type="text" class="form-control" id="contact-name" placeholder="Navn">
					</div>

					<div class="form-group">
						<input type="email" class="form-control" id="contact-email" placeholder="Epost">
					</div>

					<div class="form-group">
						<input type="text" class="form-control" id="contact-subject" placeholder="Emne">
					</div>

					<div class="form-group">
						<textarea class="form-control" id="contact-message" placeholder="Melding" rows="5"></textarea>
					</div>

					<button type="submit" class="btn btn-default">Send</button>
				</form>
			</div>
		</div>
	</div>
</section>
