<section id="footer">
  <div class="footer-container">
    <div class="pull-left">
      <div class="copyright">
        &copy; 2015 KatrineFoto
      </div>

      <p>
        Designed by Jo Malinis
        <br>
        Developed by Bianca Esmero
      </p>
    </div>

    <div class="pull-right links">
      <a href="http://katrinefoto.no/blogg" target="_blank">Blogg</a>
      <br>
      <a href="https://instagram.com/katrinefoto/" target="_blank">Instagram</a>
      <br>
      <a href="https://www.facebook.com/katrinefoto" target="_blank">Facebook</a>
    </div>
  </div>
</section>
