<section id="footer">
  <div class="footer-container">
    <div class="pull-left">
      <div class="copyright">
        &copy; 2015 KatrineFoto
      </div>

      <p>
        Designed by Jo Malinis
        <br>
        Developed by Bianca Esmero
      </p>
    </div>

    <div class="pull-right links">
      <a href="#">Blogg</a>
      <br>
      <a href="#">Instagram</a>
      <br>
      <a href="#">Facebook</a>
    </div>
  </div>
</section>
