<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<div id="newborn-gallery" class="product-gallery">
  <a href="/images/newborn_gallery/1.jpg"></a>
  <a href="/images/newborn_gallery/2.jpg"></a>
  <a href="/images/newborn_gallery/3.jpg"></a>
  <a href="/images/newborn_gallery/4.jpg"></a>
</div>

<div id="children-gallery" class="product-gallery">
  <a href="/images/children_gallery/1.jpg"></a>
  <a href="/images/children_gallery/2.jpg"></a>
  <a href="/images/children_gallery/3.jpg"></a>
  <a href="/images/children_gallery/4.jpg"></a>
</div>

<div id="wedding-gallery" class="product-gallery">
  <a href="/images/wedding_gallery/1.jpg"></a>
  <a href="/images/wedding_gallery/2.JPG"></a>
  <a href="/images/wedding_gallery/3.JPG"></a>
  <a href="/images/wedding_gallery/4.jpg"></a>
  <a href="/images/wedding_gallery/5.jpg"></a>
</div>
