<section id="home" class="full-screen">
	<div class="section-container">
		<div class="row">
			<div class="col-md-6">
				<div class="portrait-container well">
					<img src="/images/portrait.jpg" class="home-portrait" />
				</div>
			</div>

			<div class="col-md-6">
				<div class="introduction-container well">
					<div class="introduction">Hei,<br>jeg heter Katrine.</div>
					<div class="subtext">Bilder er historier</div>

					<div class="divider">---</div>

					<p>
						Det høres kanskje litt rart ut, men en av de tingene jeg liker best er å bare sitte å se på andre
	mennesker. Helst folk jeg ikke kjenner. Helst i byen; på bussen, eller på café, eller bare sitte
	på en benk og observere folk. Fundere på hvem de er, se på stil og ansiktsuttrykk og hvordan
	de prater. Det er så mange historier der ute.
					</p>

					<p>
						Et godt bilde handler selvsagt om lys og komposisjon og det fototekniske. Men for meg er
	bilder først og fremst historier. Den beste følelsen er når jeg kommer hjem etter en
	arbeidsdag og vet at minnekortet er fullt av øyeblikk og personlighet.
					</p>

					<div class="divider">---</div>

					<div class="subtext">Folg meg pa</div>

					<div class="content-footer">
						<a href="http://www.katrinefoto.no/blogg/" target="_blank">Blogg</a> |
						<a href="https://instagram.com/katrinefoto/" target="_blank">Instagram</a> |
						<a href="https://www.facebook.com/katrinefoto" target="_blank">Facebook</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
