<section id="prices" class="full-screen">
	<div class="section-container">
		<div class="section-header">Kvalitet er viktig for meg</div>

		<div class="row">
			<div class="col-md-4">
				<div class="product-packages well">
					<div class="content-header">Nyfødt</div>

					<div class="packages-container">
						<div class="package">
							<div class="package-name">Pakke I</div>
							<div class="divider">---</div>
							<p>
								<span class="price">1390 kr</span>
								<br>
								Fotografering
								<br>
								Bestilling i henhold til prisliste
							</p>
						</div>

						<div class="package">
							<div class="package-name">Pakke II</div>
							<div class="divider">---</div>
							<p>
								<span class="price">4500 kr</span>
								<br>
								Fotografering
								<br>
								10 høyoppløselige filer
							</p>
						</div>

						<div class="package">
							<div class="package-name">Pakke III</div>
							<div class="divider">---</div>
							<p>
								<span class="price">5600 kr</span>
								<br>
								Fotografering
								<br>
								25 høyoppløselige filer
							</p>
						</div>
					</div>
				</div>				
			</div>

			<div class="col-md-4">
				<div class="product-packages well">
					<div class="content-header">Fryd</div>

					<div class="packages-container">
						<div class="package">
							<div class="package-name">Pakke I</div>
							<div class="divider">---</div>
							<p>
								<span class="price">1250 kr</span>
								<br>
								Fotografering
								<br>
								Visning på nett
								<br>
								Bestilling i henhold til prisliste
							</p>
						</div>

						<div class="package">
							<div class="package-name">Pakke II</div>
							<div class="divider">---</div>
							<p>
								<span class="price">4600 kr</span>
								<br>
								Fotografering
								<br>
								Visning på nett
								<br>
								10 høyoppløselige filer
							</p>
						</div>

						<div class="package">
							<div class="package-name">Pakke III</div>
							<div class="divider">---</div>
							<p>
								<span class="price">5600 kr</span>
								<br>
								Fotografering
								<br>
								Visning på nett
								<br>
								25 høyoppløselige filer
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="product-packages well">
					<div class="content-header">Bryllup</div>

					<div class="packages-container">
						<div class="package">
							<div class="package-name">Pakke I</div>
							<div class="divider">---</div>
							<p>
								<span class="price">3200 kr</span>
								<br>
								Fotografering av bryllupsbilder
								<br>
								Visning på nett
							</p>
						</div>

						<div class="package">
							<div class="package-name">Pakke II</div>
							<div class="divider">---</div>
							<p>
								<span class="price">5600 kr</span>
								<br>
								Bryllupsbilder
								<br>
								Vielse inkludert filer
								<br>
								Visning på nett
							</p>
						</div>

						<div class="package">
							<div class="package-name">Pakke III</div>
							<div class="divider">---</div>
							<p>
								<span class="price">7900 kr</span>
								<br>
								Bryllupsbilder
								<br>
								Vielse inkludert filer
								<br>
								Visning på nett
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
