<section id="product" class="full-screen">
	<div class="section-container">
		<div class="section-header">Jeg liker å portrettere mennesker</div>

		<div class="row">
			<div class="col-md-4">
				<div class="product-info well">
					<div class="product-image">
						<img src="/images/newborn.jpg" />
					</div>

					<div class="product-description">
						<div class="content-header">Nyfødtfotografering</div>

						<p>
							Nyfødt er et øyeblikk. Noen unike dager hvor babyen for det meste sover, og det lille nurket er
		mykt og nytt. De beste nyfødtbildene tar vi innen 14 dager er gått. Hvis mamman ønsker det
		kommer jeg hjem til dere. Er dere i form kommer dere i studio.
						</p>

						<div class="content-footer">
							<a href="#">View gallery</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="product-info well">
					<div class="product-image">
						<img src="/images/children.jpg" />
					</div>

					<div class="product-description">
						<div class="content-header">Fryd portretter</div>

						<p>
							Barndom er lek og oppdagelser, tanker og følelser. Liten kropp med stor personlighet. Med
		fryd portretter jakter vi øyeblikk. Bildene leveres med personlighetsgaranti.
						</p>

						<div class="content-footer">
							<a href="#">View gallery</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="product-info well">
					<div class="product-image">
						<img src="/images/wedding.jpg" />
					</div>

					<div class="product-description">
						<div class="content-header">Bryllup</div>

						<p>
							Når du skal gifte deg, sørg for at noen dokumenterer…
							<br>
							Den spente stemningen når bruden pynter seg
							<br>
							Skjelvingen når kjolen skal tres på
							<br>
							Klamheten i hendene på brudgommen når han venter på bruden.
							<br>
							Stolheten som ligger utenpå brudens far.
							<br>
							Berøringen etter kysset, som ingen andre ser.
						</p>

						<div class="content-footer">
							<a href="#">View gallery</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="gallery newborn-image-gallery">
			<div><img src="/images/newborn_gallery/1.jpg" /></div>
			<div><img src="/images/newborn_gallery/2.jpg" /></div>
			<div><img src="/images/newborn_gallery/3.jpg" /></div>
			<div><img src="/images/newborn_gallery/4.jpg" /></div>
		</div>
	</div>
</section>
