<section id="top" class="full-screen">
  <img src="/images/top.jpg" class="background"/>

  <div class="section-container">
    <img src="/images/logo_landing.png" class="logo" />

    <a href="#home" class="down-arrow home-link">
      <img src="/images/down_arrow.png" />
    </a>
  </div>
</section>
